<div class="col-md-8 col-md-offset-2">
	<!--tell ang2 to use myForm from .ts and not what ang creates for us-->
	<!--we dont pass form to onSubmit bc we already have access to it-->
	<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
		<!--specify which input belongs to which control with formControlName-->
			<label for="firstName">First Name</label>
			<input 
				type="text" 
				id="firstName" 
				class="form-control"
				formControlName="firstName">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input 
				type="text" 
				id="lastName" 
				class="form-control"
				formControlName="lastName">
		</div>
		<div class="form-group">
			<label for="email">Mail</label>
			<input type="email" id="email" class="form-control" formControlName="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" class="form-control" formControlName="password">
		</div>
		<!-- disable button if field in form is not valid -->
		<button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
	</form>
</div>